body{
    background-color: rgb(51, 43, 32);
}
.food{
    /* display: flex; */
    width: 130px;
    height: 120x;
    border: 2px solid;
    padding: 20px;
    background-color: #ffa500;
    color:aliceblue;
    margin-right: 30px;
}
.main{
    margin: 50px;
    margin-right: 30px;
    display: flex;
  
}
.aple{
    width: 130px;
}
.buy{
    display: block;
    margin-top: 9px;
    width: 80px;
    margin-left: 30px;
    border: 2px solid black ;
    border-radius: 10px;
    color: rgb(176, 51, 17);
    padding:  8px;
    background-color: rgb(228, 222, 212);
    font-weight: 700;
}
.buy:hover{
    color:aliceblue;

}
.parent-title{
    display: flex;
    align-items: center;
    margin-top: 0px;
    text-align: center;
}
.title1{
    display: inline-flexbox;
    width: 80px;
    height: 30px;
    font-size: 20px;
    color:white;
    border: 3px solid black;
    border-radius: 8px;
    padding: 7px;
    background-color: #ffa500;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    align-items: center;
   
}
.title{
    display: inline;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60x;
    color:rgb(157, 22, 10);
    margin-bottom: 20px;
    width: 97%;
    margin-left: 10px;
    display: block;
    background-color: antiquewhite;
    border: 1px solid tomato;
    border-radius: 5px;
}
.banana{
    width: 130px;
    margin-bottom: 30px ;
}
.lichi{
    width: 130px;
}
.orange{
    width: 130px;
}
.grape{
    width: 130px;
}
.black-grape{
    width: 130px;
}
.lemon{
    width: 130px;
}